{{ ansible_managed|default(_vaultwarden_ansible_managed)|comment }}

[Unit]
Description =  VaultWarden (https://github.com/dani-garcia/vaultwarden)
After = network.target postgresql.service mysql.service

[Service]
WorkingDirectory = {{ vaultwarden_directory }}
EnvironmentFile={{ vaultwarden_directory }}/.env
User = vaultwarden
Group = vaultwarden
ExecStart = {{ vaultwarden_directory }}/vaultwarden
# Set reasonable connection and process limits
LimitNOFILE=1048576
LimitNPROC=64
# Isolate vaultwarden from the rest of the system
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
WorkingDirectory = {{ vaultwarden_directory }}
EnvironmentFile={{ vaultwarden_directory }}/.env
ReadWriteDirectories={{ vaultwarden_directory }}
# Allow vaultwarden to bind ports in the range of 0-1024
AmbientCapabilities=CAP_NET_BIND_SERVICE
MemoryDenyWriteExecute=true

[Install]
WantedBy = multi-user.target
